# Terraform state files
**/terraform.tfstate
**/terraform.tfstate.backup

# Terraform hidden directories
**/.terraform/

# Terraform plans
**/tfplan

terraform.tfstate
terraform.tfstate.backup